#container {
    display: flex;
    margin: 10px auto;
    background-color: #f8db8b;
}
.smooth{
    border-radius: 10px;
    display: block;
}
#title {
    font-size: 5em;
    /* text-align: center; */
    font-family: 'Arial', sans-serif;
    color: #333;
    /* margin: 20px auto; */
    line-height: 0.5;
}
#subtitle {
    font-size: 2.5em;
    text-align: left;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 20px 13px;
    line-height: 0.1;
    /* visibility: hidden; */
    opacity: 0;
}
@media screen and (max-width: 500px){
    .item {
        margin: 10px;
        text-align: center !important;
        border-radius: 10px;
        /* padding: 10px; */
        width: 200px;
    }
    #fan{
        width: 50%;
        height: auto;
        align-self: center;
        border-radius: 10px;
        margin: auto 14px;
    }
    .flex-container {
        /* display: flex; */
        justify-content:flex-start;
        align-items: center;
        flex-wrap: wrap;
        line-height: 0.5;
    }
}
.fade-out {
    animation: imgFan 1s ease 0s 1 normal forwards;
}
@keyframes imgFan {
	0% {
		opacity: 1;
		transform: translateY(-10px);
	}

	100% {
		opacity: 100;
		transform: translateY(10px);
	}
}